{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    
    
    
	  var rotateElement = document.getElementById('rotate-box');
    var rotateHam = new Hammer(rotateElement);
    rotateHam.add([new Hammer.Rotate()]);
    rotateHam.on("rotate", function(ev) {
      alert('Botate!');
      rotateElement.style.backgroundColor = 'red';
      });
    
    
    var pinchElement = document.getElementById('pinch-box');
    var pinchHam = new Hammer(pinchElement);
    pinchHam.add([new Hammer.Pinch()]);
    pinchHam.on("pinch", function(ev) {
      alert('Binch!');
      pinchElement.style.backgroundColor = 'purple';
      });
    
    
    var pressElement = document.getElementById('press-box');
    var pressHam = new Hammer(pressElement);
    pressHam.on("press", function(ev) {
      alert('Bress!');
      pressElement.style.backgroundColor = 'silver';
    });
    
    
    var panElement = document.getElementById('pan-box');
    var panHam = new Hammer(panElement);
    panHam.on("pan", function(ev) {
      alert('Banboras Box!');
      panElement.style.backgroundColor = 'gold';
    });
      
    
    var tapElement = document.getElementById('tap-box');
    var tapHam = new Hammer(tapElement);
    tapHam.on("tap", function(ev) {
      alert('Bap!');
      tapElement.style.backgroundColor = 'green'; 
    });
    
    var swipeElement = document.getElementById('swipe-box');
    var swipeHam = new Hammer(swipeElement);
    swipeHam.on("swipe", function(ev) {
      alert('dont swipe');
      swipeElement.style.backgroundColor = 'orange';
    });
     
    
      
//     hammertime.get('pinch').set({ enable: true });
//     hammertime.get('rotate').set({ enable: true });
//     hammertime.get('pan').set({ direction: Hammer.DIRECTION_ALL });
//     hammertime.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
      

  </script>
</body>
</html>
